<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for("static", filename="favicon.ico") }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <img id="banner" src="static/images/chapelle.jpg" alt="Chapelle" />
    <div id="login_form">
        <form autocomplete="off" method="POST" action="{{ base_url }}/do_login">
            <h1>Planning de la Bogerais</h1>
            <label for="text">Username</label>
            <input type="text" autocomplete="off" placeholder="Utilisateur" value="" id="username"
                name="username" minlength="2" required />
            <br/>

            <label for="text">Password</label>
            <input type="password" autocomplete="off" placeholder="Mot de passe" value="" id="password"
                name="password" minlength="8" required />
            <br/>

            <input class="form-button" type="submit" value="Connection" />
        </form>
    </div>
</body>
</html>