<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Edition du profile</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    </head>
    <body>
        <h1>Edition du profile {{ user_data['username'] }}</h1>
        Change la couleur de tes présences par défaut et/ou ton mot de passe.
        <form action="/user/edit/" method="POST">
            <p>
                <label>Couleur: </label>
                <br />
                <input class="form-button color-picker" type="color" value="{{ user_data['user_color'] }}" id="color_custom" name="color_custom" />
            </p>
            <p>
                <label>Nouveau mot de passe : </label>
                <br />
                <input type="password" autocomplete="off" placeholder="Mot de passe" value="" id="password"
                    name="password" minlength="8" />
            </p>
            <p>
                <label>Répéter mot de passe : </label>
                <br />
                <input type="password" autocomplete="off" placeholder="Répéter mot de passe" value="" id="repeat_password"
                    name="repeat_password" minlength="8" />
            </p>
            <input class="form-button" type="submit" value="Editer le profile" />
        </form>
        <p>
            <a href={{ url_for('main', calendar_id = user_data["default_calendar"]) }}>Retour à l'accueil</a>
        </p>
    </body>
</html>